body{ 
    background: #070a2a;
    font-family:sans-serif;
    color: #acadb8;
  }
  #screen{
      width: 100%;
      height: 500px;
      border:none;
      border-radius: 10px;
      background: #252635;
      background-position: top center;
      background-repeat:no-repeat;      
  }  
  #tiempo {
     float:right;
     opacity:0;
  }
  .coor {
     background:none;
     text-align:center;
     color: #acadb8;             
  }
  input {
      border:1px solid;
      border-radius: 5px;
      color: #acadb8;
      padding: 1px;
  }
  .data{
      text-align:center;
      color: #acadb8;
      background: none;
     font-size:15px;
     min-width: 60px;
  }
  .switch{
  border-radius:5px;
  background: #9b0d54;
  padding: 4px;
  margin: 2px;
  float:right;
  color: #acadb8;
 }
  .switch:disabled{
    background: #252635;
    color: #acadb8;
  }     
  .licencia{
      float:right;
      border-width:0;
      color: #acadb8;
  }